widget#calendarPluginContainer 
{    
    width: auto;
    height: 25.5u;
    nav-index: appearance;
    block-progression: tb;
    padding-left: 10px;
}

widget#calendarPluginContainer:focus 
{
    focus-background: "SKIN(268458534 5120 9)"; 
}

button.calendarEntryBox 
{    
    height: 16%;
    margin-top: auto;
    margin-bottom: auto;
    direction: ltr;
    block-progression: lr;
}

image.calendarEntryIcon 
{ 
    width: 4u;
    height: 4u;
}

text.calendarEntryText1 
{ 
    height: auto;
    width: auto;

    padding-left: 5px;
    padding-right: 6px;

    font-family: EAknLogicalFontSecondaryFont;
    font-size: 3.5u;
    color: "SKIN(268458534 13056 19)";
}

button.calendarInfoBox 
{
    width: auto;
    height: auto;

    block-progression: rl;
   direction: ltr;
}

text#calendarInfoText 
{ 
    height: adaptive;
    width: auto;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: auto;
    margin-bottom: auto;    
    font-family: EAknLogicalFontSecondaryFont;
    font-size: 3.5u;
    color: "SKIN(268458534 13056 19)";
    max-line-amount: 2;
    text-overflow-mode: wrap;
}

image#calendarInfoIcon
{
    margin-top: auto;
    margin-bottom: auto;    
}
