widget#calendar3rowPluginContainer 
{
    display: block;
    width: auto;
    height: 12.25u;    
    nav-index: appearance;
    block-progression: tb;
    padding-left: 10px;
}

widget#calendar3rowPluginContainer:focus 
{
    focus-background: "SKIN(268458534 5120 9)"; 
}

button.calendar3rowEntryBox 
{
    display: none;
    width: auto;
    height: 31%;
    margin-top: auto;
    margin-bottom: auto;
    block-progression: lr;
    direction: ltr;
}

image.calendar3rowEntryIcon 
{ 
    width: 4u;
    height: 4u;
}

text.calendar3rowEntryText1 
{ 
    height: auto;
    width: auto;
    padding-left: 5px;
    padding-right: 6px;
    font-family: EAknLogicalFontSecondaryFont;
    font-size: 3.5u;
    color: "SKIN(268458534 13056 19)";
}

button.calendar3rowInfoBox 
{
    width: auto;
    height: auto;
    block-progression: rl;
}

text#calendar3rowInfoText 
{ 
    height: adaptive;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: auto;
    margin-bottom: auto;    
    font-family: EAknLogicalFontSecondaryFont;
    font-size: 3.5u;
    color: "SKIN(268458534 13056 19)";
    max-line-amount: 2;
    text-overflow-mode: wrap;
}

image#calendar3rowInfoIcon
{
    margin-top: auto;
    margin-bottom: auto;    
}