CalenDayItem[backgroundFrame][eventDescription][backgroundType=EStaticBackground]{
    layout: default; /*all elements are placed on layout*/
}

CalenDayItem[backgroundFrame][!eventDescription][backgroundType=EStaticBackground]{
    layout: backgroundStripe;
}

CalenDayItem[backgroundFrame][eventDescription][backgroundType=EFloatingBackground]{
    layout: stripeText;
}

CalenDayItem[backgroundFrame][!eventDescription][backgroundType=EFloatingBackground]{
    layout: stripeWithMargins;
}

CalenDayItem[!backgroundFrame][!eventDescription]{
    layout: stripeNoMargins;
}

CalenDayItem::eventDescription {
    color: var(qtc_cal_meeting_text); 
    font-variant: secondary;
    text-height: var(hb-param-text-height-secondary);
    text-align: center center;
    text-line-count-min: 1;
    size-policy-vertical: expanding;
}
 
CalenDayItem::colorStripe {
    size-policy-horizontal: fixed;
}
