CalenEventListViewItem[layoutName="custom"]{
	layout: custom;
}

CalenEventListViewItem[layoutName="custom"][modelItemType="StandardItem"][stretchItem="true"]:landscape{
    layout: custom-stretch;
}

CalenEventListViewItem[timeFormat12="true"]::text-1{
	fixed-width: 13.5un;
	text-height: var(hb-param-text-height-secondary);
	text-align: left;
	top: -var(hb-param-margin-gene-top);
	left: -var(hb-param-margin-gene-left);
	right: var(hb-param-margin-gene-right);
	text-line-count-max: 2;
	text-line-count-min: 2;
}

CalenEventListViewItem[timeFormat12="false"]::text-1{
	fixed-width: 9.5un;
	text-height: var(hb-param-text-height-secondary);
	text-align: right;
	top: -var(hb-param-margin-gene-top);
	left: -var(hb-param-margin-gene-left);
	right: var(hb-param-margin-gene-right);
	text-line-count-max: 2;
	text-line-count-min: 2;
}

CalenEventListViewItem::text-2[layoutName="custom"]{
	font-variant: primary;
	text-align: left;
	top: -var(hb-param-margin-gene-top);
	right: var(hb-param-margin-gene-middle-horizontal);
	min-width: 29un;
}

CalenEventListViewItem::text-3[layoutName="custom"]{
	font-variant: secondary;
	text-align: left;
	top: -var(hb-param-margin-gene-middle-vertical);
	bottom: var(hb-param-margin-gene-bottom);
	right: var(hb-param-margin-gene-middle-horizontal);
	min-width: 34un;
}

CalenEventListViewItem::icon-1[layoutName="custom"]{
	top: -var(hb-param-margin-gene-top);
	left: -var(hb-param-margin-gene-top);
	right: var(hb-param-margin-gene-middle-horizontal);
}

CalenEventListViewItem::icon-2[layoutName="custom"]{
	top: -var(hb-param-margin-gene-top);
	right: var(hb-param-margin-gene-middle-horizontal);
	text-align: right;
	fixed-width: var(hb-param-graphic-size-secondary);
	fixed-height: var(hb-param-graphic-size-secondary);
}

CalenEventListViewItem::icon-3[layoutName="custom"]{
	top: -var(hb-param-margin-gene-top);
	right: var(hb-param-margin-gene-right);
	fixed-width: var(hb-param-graphic-size-secondary);
	fixed-height: var(hb-param-graphic-size-secondary);
}

CalenEventListViewItem::icon-4[layoutName="custom"]{
	top: -var(hb-param-margin-gene-middle-vertical);
	right: var(hb-param-margin-gene-right);
	bottom: var(hb-param-margin-gene-bottom);
	fixed-width: var(hb-param-graphic-size-secondary);
	fixed-height: var(hb-param-graphic-size-secondary);
}


