ClockCitySelectionListPrototype[layoutName="cityselectionlist-default"]{
   layout: cityselectionlist-default;
}

ClockCitySelectionListPrototype::cityNameItem[layoutName="cityselectionlist-default"]{
   font-variant: secondary;
   text-height: var(hb-param-text-height-secondary);
   text-line-count-min: 1;
   text-line-count-max: 2;
   text-align: left;
   left: -var(hb-param-margin-gene-left);
   top: -var(hb-param-margin-gene-top);
   right: var(hb-param-margin-gene-right);
   bottom: var(hb-param-margin-gene-bottom);
}
